.blocks {
    flex-direction: column;
}
.block {
    align-items: space-around;
    width: 90%;
    height: 124px;
    margin: 2%;
}
.block__txt p {
    padding-top: 1%;
    line-height: 20px;
    font-weight: 500px;
}
.block__img img {
    max-width: none;
    padding: 0px 18px;
}
.block__1 {
    background-color: #0072c6;
}
.block__2 {
    background-color: #2c5898;
}
.block__3 {
    background-color: #207245;
}
.block__4 {
    background-color: #cb4a32;
}
.block__5 {
    background-color: #733781;
}
.block__6 {
    background-color: #00aff0;
}
.block__7 {
    background-color: #094ab2;
}
.block__8 {
    background-color: #0073c6;
}
.block__9 {
    background-color: #0093be;
}
.block__10 {
    background-color: #5558af;
}

@media screen and (min-width: 768px) {
    .blocks {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .block {
        width: 576px;
        height: 125px;
        margin: 12px 2%;
    }
    .blocks div h3 + p {
        height: auto;
        text-align: start;
        font-size: calc(5px + 0.7vw);
        font-weight: lighter;
    }
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
    .block {
        width: 476px;
    }
    .block__img img {
        padding: 0px 28px;
    }
}

@media screen and (min-width: 1500px) {
    .block {
        width: 40%;
    }
    .block__txt p {
        padding-top: 1%;
        padding-right: 20px;
    }
}
